#btn {
    background-color: dodgerblue;
    border-radius: 10em;
    border: none;
    color: #ffffff;
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
    height: 3em;
    padding: 10px;
    position: absolute;
    transition: .5s;
    width: 8em;
}

button:hover {
 animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
 0% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }

 20% {
  -webkit-transform: translate(-2px, 2px);
  transform: translate(-2px, 2px);
 }

 40% {
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
 }

 60% {
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
 }

 80% {
  -webkit-transform: translate(2px, -2px);
  transform: translate(2px, -2px);
 }

 100% {
  -webkit-transform: translate(0);
  transform: translate(0);
 }
}

@keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 100px 0px;
    }
  }
  
  body {  
    background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 5%,
    #465298 5%,
    #465298 10%
  );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
  }